<div class="app">
  <header *ngIf="!isGuest" class="app__header">
    <mat-icon class="app__header-burger-button" (click)="isAsideActive = !isAsideActive">menu</mat-icon>
  </header>
  <div class="app__main">
    <div *ngIf="isAsideActive" class="wrapper" (click)="isAsideActive = false"></div>
    <aside *ngIf="!isGuest" class="app__aside" [ngClass]="{ 'app__aside--active': isAsideActive }">
      <div class="app__aside-close">
        <mat-icon (click)="isAsideActive = false">close</mat-icon>
      </div>
      <a class="app__aside-link" routerLink="/accounts">Аккаунты</a>
      <a class="app__aside-link" routerLink="/generation">Генератор</a>
      <a class="app__aside-link" routerLink="/leak_report">Отчет об утечке</a>
    </aside>

    <div class="app__content" [ngClass]="{ 'app__content--auth': !isGuest }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
