

.auth {

  .auth__form {

    .auth__form-fields {
      display: flex;
      flex-direction: column;
    }

    .auth__form-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
